html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 9fr 1fr;
  background-color: #2196f3;
  width: 100vw;
  gap: 10px;
  height: 100vh;
}

.gridContainer > div {
  background-color: rgba(22, 92, 25, 0.082);
  text-align: center;
  font-size: 30px;
}
.upgradeDiv {
  background-color: rgba(109, 92, 25, 0.082);
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  gap: 10px;
  text-align: center;
  font-size: 30px;
}

.upgradeImage {
  height: 100%;
  width: 100%;
}

.center {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 40% 60%;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.button > button {
  display: inline-block;
  justify-content: center;
  padding: 20%;
  font-size: 60px;
  background-color: blueviolet;
  border-radius: 50%;
  border: none;
  transition-duration: 0.3s;
  box-shadow: 0px 0px 5px 5px;
}

.button > button:hover {
  background-color: #7a1bd2;
}
.button > button:active {
  transition-duration: 0ms;
  box-shadow: inset 3px 3px 15px #000;
  transform: translateY(4px);
}

.upgradeButton {
  background-color: #7a1bd2;
  border: none;
  display: block;
  justify-content: center;
  text-decoration: none;
  font-size: 15px;

  width: 100%;
  height: 100%;
}
