body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

.form-container {
  margin: auto;
  border: 3px solid green;
  padding: 10px;
  font-size: 50px;
}
.register {
  text-align: center;
}
a {
  color: #04aa6d;
}
a:link {
  text-decoration: none;
  font-size: 40px;
}
button:hover {
  opacity: 0.8;
}
button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
h1 {
  font-size: 100px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
